<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>

<h1> OCCIDENTAL COLLEGE COURSE COUNTS 2.0</h1>

<h2>

</h2>

    <div id="CourseChart">
        <table>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Title
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Instructors
                </th>
                <th>
                    Meeting
                </th>
                <th>
                    Core
                </th>
            </tr>
                {% for course in result_list %}
                <tr>
                     <td><a href="/base/{{ course.year }} {{ course.title }}"> {{ course.department }} {{ course.number }}</a></td>
                    <td>{{ course.title }}</td>
                    <td>{{ course.unit }}</td>
                    <td>{{ course.instructors }}</td>
                    <td>{{ course.meeting }}</td>
                    <td>{{ course.core }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>
<!---<h2> Your Potential Schedule:</h2>

    <div id="weekdays">

    <p> Monday Tuesday Wednesday Thursday Friday &nbsp;&nbsp;</p>
    </div> --->

<body>
   <div id="Seal">
       <img src="/images/oxy-seal.png" style="width:525px; height:525px;">
   </div>


    <div class ="left">
        <table style="width: 15%">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <form action method="get">
                <tr> Search by Semester</tr> <br>
            <select id="semester" name="semester">
                <option value = "">(any)</option>
                <option value="201701">2017 Spring </option>
                <option value="201702">2016 Fall</option>
                <option value="201602">2016 Spring</option>
                <option value="201701">2015 Fall</option>
                <option value="201503">2015 Summer</option>
                <option value="201502">2015 Spring</option>
                <option value="201501">2014 Fall</option>
                <option value="201403">2014 Summer</option>
                <option value="201402">2014 Spring</option>
                <option value="201401">2013 Fall</option>
                <option value="201303">2013 Summer </option>
                <option value="201302">2013 Spring</option>
                <option value="201301">2012 Fall</option>
                <option value="201203">2012 Summer </option>
                <option value="201202">2012 Spring </option>
                <option value="201201">2011 Fall </option>
                <option value="201103">2011 Summer</option>
                <option value="201102">2011 Spring</option>
                <option value="201101">2010 Fall</option>
                <option value="201003">2010 Summer</option>
                <option value="201002">2010 Spring</option>

                </select>
            <br>
            <br>
            <tr> Select a Subject </tr> <br>
            <select name="department">
                <option value>(any)</option>
                <option value="AMST">American Studies</option>
                <option value="ARAB">Arabic</option>
                <option value="ARTH">Art/History</option>
                <option value="ARTH">Art/Media</option>
                <option value="ARTS">Art/Studio</option>
                <option value="BICH">Biochemistry</option>
                <option value="BIO">Biology</option>
                <option value="CHEM">Chemistry</option>
                <option value="CHIN">Chinese</option>
                <option value="CLAS">Classical Studies</option>
                <option value="COGS">Cognitive Studies</option>
                <option value="COMP">Computer Science</option>
                <option value="CSLC">Comparitive Studies/Lit & Cult</option>
                <option value="CSP">Cultural Studies Program</option>
                <option value="CTSJ">Critical Theory/Social Justice</option>
                <option value="DWA">Diplomacy and World Affairs</option>
                <option value="ECLS">English</option>
                <option value="ECON">Economics</option>
                <option value="EDUC">Education</option>
                <option value="ENGL">English</option>
                <option value="ENWR">English Writing</option>
                <option value="FREN">French</option>
                <option value="GEO">Geology</option>
                <option value="GERM">German</option>
                <option value="GRK">Greek</option>
                <option value="HIST">History</option>
                <option value="ITAL">Italian</option>
                <option value="JAPN">Japanese</option>
                <option value="KINE">Kinesiology</option>
                <option value="LANG">Language</option>
                <option value="LATN">Latin</option>
                <option value="LING">Linguistics</option>
                <option value="LLAS">Latin Amer Stud</option>
                <option value="MATH">Mathematics</option>
                <option value="MUSA">Music Applied Studies</option>
                <option value="MUSC">Music</option>
                <option value="PHAC">Physical Activites</option>
                <option value="PHIL">Philosphy</option>
                <option value="PHYS">Physics</option>
                <option value="POLS">Politics</option>
                <option value="PSYC">Psychology</option>
                <option value="RELS">Religious Studies </option>
                <option value="RUSN">Russian</option>
                <option value="SOC">Sociology</option>
                <option value="SPAN">Spanish and French Studies</option>
                <option value="THEA">Theater</option>
                <option value="UEP">Urban and Environmental Policy</option>
                <option value="WRD">Writing and Rhetoric</option>
            </select>
            <br>
            <br>
            <tr>Select a Core </tr><br>
            <select name="department">
                <option value>(any)</option>
                <option value="CAFP">Core Africa (obsolete)</option>
                <option value="CPAF">Core Africa and The Middle East</option>
                <option value="CPAS">Core Central/South/East Asia</option>
                <option value="CPEU">Core Europe</option>
                <option value="CPFA">Core Fine Arts</option>
                <option value="CFAP">Core Fine Arts Partial</option>
                <option value="CPGC">Core Global Connections</option>
                <option value="CPIC">Core Intercultural</option>
                <option value="CPLS">Core Laboratory Science</option>
                <option value="CPLA">Core Latin America</option>
                <option value="CMSP">Core Math/Science Partial</option>
                <option value="CPMS">Core Math/Science</option>
                <option value="CPPE">Core Pre-1800</option>
                <option value="CICP">Core Program (obsolete)</option>
                <option value="CPRF">Core Regional Focus</option>
                <option value="CPUS">Core United States</option>
                <option value="CUSP">Core United States (obsolete)</option>
                <option value="CPUD">Core United States Diversity</option>
            </select>
            <br>
            <input id="searchButton" class="large" type="submit" value="Search">

            </form>
        </table>
    </div>

<!---    <div id="Info">
         <p>Course Title Units Instructor Meeting Times (Room) Core</p>
        </div>

    <div id="CourseChart">
        <table style="width: 85%">
                {% for course in result_list %}
                <td>Course Title Units Instructor Meeting Times (Room) Core</td>
                <tr>
                     <td><p><a href="/base/{{ course.year }} {{ course.title }}"> {{ course.department }} {{ course.number }}</a></p></td>
                </tr>
                {% endfor %}
            </table>
    </div> --->
</body>
</html>
