<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>

<h1> OCCIDENTAL COLLEGE COURSE COUNTS 2.0</h1>

<h2> Your Potential Schedule:</h2>

<body>
    <!---<img src="/images/oxy-seal.png" style="width:150px; height:150px;">
    Occidental College
    <br>
    <br>
    <br> --->

    <div class ="left">
        <table style="width: 15%">
            <br>
            <br>
            <br>
            <br>
            <tr> Search by Core</tr> <br>
            <br>
            <tr> Select a Subject </tr> <br>
            <tr> Subject </tr> <br>
            <br>
            <tr>Select a Course</tr><br>
            <tr> Course </tr> <br>
        </table>
    </div>

</body>
</html>
