<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>

<h1> OCCIDENTAL COLLEGE COURSE COUNTS 2.0</h1>

<h2> Your Potential Schedule:</h2>

<body>
   <div><img src="/images/oxy-seal.png" style="width:500px; height:500px;"></div>


    <div class ="left">
        <table style="width: 15%">
            <br>
            <br>
            <br>
            <select name="semester">
               <option value>(any)</option>
                <option value="201701">2017 Spring </option>
                <option value="201702" selected>2016
                Fall</option>
                <option value="201602">2016 Spring</option>
                <option value="201701">2015 Fall</option>
                <option value="201503">2015 Summer</option>
                <option value="201502">2015 Spring</option>
                <option value="201501">2014 Fall</option>
                <option value="201403">2014 Summer</option>
                <option value="201402">2014 Spring</option>
                <option value="201401">2013 Fall</option>
                <option value="201303">2013 Summer </option>
                <option value="201302">2013 Spring</option>
                <option value="201301">2012 Fall</option>
                <option value="201203">2012 Summer </option>
                <option value="201202">2012 Spring </option>
                <option value="201201">2011 Fall </option>
                <option value="201103">2011 Summer</option>
                <option value="201102">2011 Spring</option>
                <option value="201101">2010 Fall</option>
                <option value="201003">2010 Summer</option>
                <option value="201002">2010 Spring</option>

                </select>
            <br>
            <br>
            <tr> Search by Semester</tr> <br>
            <tr> Semester</tr>
            <br>
            <br>
            <tr> Select a Core </tr> <br>
            <tr> Core </tr> <br>
            <br>
            <tr>Select a Subject</tr><br>
            <tr> Subject </tr> <br>
        </table>
    </div>

    <div id="weekdays">

    <p> Monday Tuesday Wednesday Thursday Friday &nbsp;&nbsp;</p>
    </div>

</body>
</html>
