<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<h1> OCCIDENTAL COLLEGE COURSE COUNTS 2.0</h1>

<h2>

</h2>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>


<body>
    <div id="Box">

    </div>
    <p>Course Name: {{ course.title }}</p>
    <p>Units: {{ course.unit }}</p>
    <p>Instructors: {{ course.instructors }}</p>
    <p>Meeting: {{ course.meeting }}</p>
    <p>Core: {{ course.core }}</p>
    <p>Seats: {{ course.seats }}</p>
    <p>Enrolled: {{ course.enrolled }}</p>
    <p>Reserved: {{ course.reserved }}</p>
    <p>Reserved open: {{ course.reservedOpen }}</p>
    <p>Waitlisted: {{ course.waitlisted }}</p>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>
        <a href="/">Go Back</a>
    </p><br>
</body>
</html>
